* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #000;
  --background: #fff;
  --link: #000;
  --border: 1px solid #000;
}

body{
  align-items: center;
  font-family:'Courier New', Courier, monospace;
  background: var(--background);
  color: var(--text);
  display: flex;
  justify-content: center;
  height: 100svh;
  line-height: 1;
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
}

a {
  color: var(--link);
}

p {
  line-height: 1.4;
}

input[type="text"],
input[type="date"],
input[type="time"] {
  border: none;
  font-family: inherit;
  font-size: 16px;
  outline: 0;
  padding: 12px;
  width: 100%;
}

.cdbox {
  border: var(--border);
  width: 100%;
}

.cdheadline {
  align-items: center;
  border-bottom: var(--border);
  display: flex;
  justify-content: space-between;
}

.cdheadline > * {
  padding: 12px;
}

.cdheadline-label {
  flex: 1;
}

.cdname {
  border-left: var(--border);
  flex: 8;
}

.cdtime {
  display: flex;
  justify-content: space-between;
}

.cdnumber {
  border-right: var(--border);
  flex: 1;
  padding: 12px;
}

.cdnumber:last-child {
  border-right: none;
}

.cdlabel {
  display: block;
  text-transform: uppercase;
}

.cdlabel + span {
  display: block;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

.edbox {
  align-items: center;
  border-top: var(--border);
  display: none;
}

.edheadline {
  border-right: var(--border);
  writing-mode: vertical-rl;
  padding: 12px;
}

.edform {
  display: flex;
  flex: 6;
  justify-content: space-between;
}

.edinput {
  border-right: var(--border);
  flex: 4;
  padding: 12px;
}

.edtitle {
  margin-bottom: 12px;
}

.eddatetime {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.eddatetime > * {
  width: 100%;
}

.edlink {
  font-weight: bold;
  overflow: hidden;
  padding: 12px;
  text-decoration: none;
}

.edlink span {
  display: block;
  font-size: 4rem;
  line-height: 0;
}

.license {
  border-top: var(--border);
  padding: 12px;
  text-align: right;
}

.langja,
.langen {
  display: none;
}

@media (max-width: 560px) {
  .cdheadline {
    flex-wrap: wrap;
  }

  .cdname {
    border-left: none;
    border-top: var(--border);
    min-width: 100%;
  }

  .cdtime {
    flex-wrap: wrap;
  }

  .cdnumber {
    border-bottom: var(--border);
    flex: 2;
    min-width: 50%;
  }

  .cdnumber:nth-child(2n) {
    border-right: none;
  }

  .cdnumber:nth-last-child(2),
  .cdnumber:last-child {
    border-bottom: none;
  }

  .edbox {
    flex-wrap: wrap;
  }
  
  .edheadline {
    border-bottom: var(--border);
    border-right: none;
    width: 100%;
    writing-mode:horizontal-tb;
  }

  .edform {
    flex-wrap: wrap;
  }
  
  .edinput {
    border-bottom: var(--border);
    border-right: none;
  }

  .edinput label {
    text-transform: uppercase;
  }

  .edlink {
    width: 100%;
  }

  .edlink span {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: calc(100% - 0.6em);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #fff;
    --background: #000;
    --link: #fff;
    --border: 1px solid #fff;
  }
}
