:root {
  --h: 4; // Number of tdhead
  --c: 3; // Number of cdcolon
  --h-size-per-c-size: 2; // rate of tdhead to cdcolon
  --all: calc(var(--h)*var(--h-size-per-c-size) + var(--c));a
  --h-size: calc(100% / var(--all) * var(--h-size-per-c-size));
  --c-size: calc(100% / var(--all));
}
body{
  font-family: 'Segoe UI;Arial', sans-serif;
  background-color: #000000;
  color: #ffffff;
}
.cdheadline{
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.cdtable {
  margin:auto;
}
.tdhead{
  font-size: 1rem;
  text-align: center;
  width: var(--h-size);
}
.cdcolon{
  font-size: 3rem;
  text-align: center;
  width: var(--c-size);
  padding: 0.5rem;
}
.cdcell{
  font-size: 3rem;
  text-align: center;
  padding: 0.5rem;
}
address {
    text-align: right;
    font-style: normal;
    font-size: 0.9rem;
}
